<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-wrapper">
    <ion-card class="login-card">
      <ion-card-header>
        <div class="avatar">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="onClick()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="formData.email" name="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="formData.password" name="password" required></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
        </form>

        <ion-button expand="full" fill="outline" routerLink="/register" class="register-button">
          Registrarse
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
